@inherits LayoutComponentBase

<FluentMainLayout>
    <Header>
        Resx Manager Extended
    </Header>
    <Body>
    <ErrorBoundary>
        <ChildContent>
            <div class="content">
                @Body
            </div>
        </ChildContent>
        <ErrorContent Context="ex">
            <div class="blazor-error-boundary">@ex.Message</div>
        </ErrorContent>
    </ErrorBoundary>
    </Body>
    <NavMenuContent>
        <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())"
                       IconColor="Color.Accent">@Loc["Home"]</FluentNavLink>
        <FluentNavLink Href="resx-manager" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())"
                       IconColor="Color.Accent">@Loc["ResxManager"]
        </FluentNavLink>
        <FluentNavLink Href="settings" Icon="@(new Icons.Regular.Size20.WeatherPartlyClou
                      dyDay())" IconColor="Color.Accent">@Loc["Settings"]</FluentNavLink>
    </NavMenuContent>
</FluentMainLayout>