@inherits LayoutComponentBase

<FluentMainLayout>
    <Header>
        Resx Manager Extended
    </Header>
    <Body>
    <ErrorBoundary>
        <ChildContent>
            <div class="content">
                @Body
            </div>
        </ChildContent>
        <ErrorContent Context="ex">
            <div class="blazor-error-boundary">@ex.Message</div>
        </ErrorContent>
    </ErrorBoundary>
    </Body>
    <NavMenuContent>
        <FluentNavLink Href="/" Match="NavLinkMatch.All" IconColor="Color.Accent"
                       Icon="@(new Icons.Regular.Size20.Home())">
            @Loc["Home"]
        </FluentNavLink>
        <FluentNavLink Href="resx-manager" IconColor="Color.Accent"
                       Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())">
            @Loc["ResxManager"]
        </FluentNavLink>
        <FluentNavLink Href="settings" IconColor="Color.Accent"
                       Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())">
            @Loc["Settings"]
        </FluentNavLink>
    </NavMenuContent>
</FluentMainLayout>