@using ResxManagerExtended.Shared.Constants
@inherits LayoutComponentBase

<FluentMainLayout>
    <Header>
        ResxManager EX
    </Header>
    <Body>
    <ErrorBoundary>
        <ChildContent>
            <div class="content">
                <FluentMessageBarProvider Section="@MessageBarSection.SectionTop"/>
                @Body
            </div>
        </ChildContent>
        <ErrorContent Context="ex">
            <div class="blazor-error-boundary">@ex.Message</div>
        </ErrorContent>
    </ErrorBoundary>
    </Body>
    <NavMenuContent>
        <FluentNavLink Href=" " Match="NavLinkMatch.All" IconColor="Color.Accent"
                       Icon="@(new Icons.Regular.Size20.Home())">
            @Loc["Home"]
        </FluentNavLink>
        <FluentNavLink Href="resx-manager" IconColor="Color.Accent"
                       Icon="@(new Icons.Regular.Size20.BookLetter())">
            @Loc["ResxManager"]
        </FluentNavLink>
        <FluentNavLink Href="settings" IconColor="Color.Accent"
                       Icon="@(new Icons.Regular.Size20.Settings())">
            @Loc["Settings"]
        </FluentNavLink>
    </NavMenuContent>
</FluentMainLayout>